:root{

    /*Colores*/
    --maximum-yellow-red: hsl(37, 100%, 68%);
    --royal-blue-dark: hsl(231, 61%, 22%);
    --silver-chalice: hsl(0, 0%, 70%);
    --oxford-blue: hsl(231, 100%, 8%);
    --bittersweet: hsl(2, 100%, 69%);
    --french-rose: hsl(342, 90%, 61%);
    --davys-gray: hsl(180, 3%, 28%);
    --cool-gray: hsl(240, 13%, 62%);
    --platinum: hsl(0, 0%, 92%);
    --white-2: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --rythm: hsl(240, 9%, 53%);

    /*Tipografias*/
    --primary-font: 'Poppins', sans-serif;
    --fs-1: 3.2rem;
    --fs-2: 2.6rem;
    --fs-3: 2.2rem;
    --fs-4: 1.8rem;
    --fs-5: 1.5rem;
    --fs-6: 1.4rem;

    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;

    /*Transiciones*/
    --transition: 0.25s ease-in-out;
}

/*Globales*/
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: var(--primary-font);
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    overflow-x: hidden;
}

li {list-style: none;}

a {text-decoration: none;}

a,
img,
button
span,
ion-icon,
label,
input,
textarea { display: block;} /*Para que no se queden pegados al texto*/

button {
    background: none;
    border: none; 
    cursor: pointer;
    font: inherit
}

textarea,
input {
    border: none;
    font: inherit;
    width: 100%;
    background: none;
}

:is(input, textarea):focus {
    outline: none;
}

:focus {
    outline-offset: .4rem;
}

::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-track {
    background: var(--white);
}
::-webkit-scrollbar-thumb{
    background: hls(0, 0%, 50%);
}

/*Reutilizables*/
.container{
    padding: 0 1.5rem;
}

h1,h2,h3{
    font-weight: var(--fw-600);
    line-height: 1.3;
    text-transform: capitalize;
}

h1{
    color: var(--oxford-blue);
    font-size: var(--fs-1);
}

h2{
    font-size: var(--fs-2);
}

h3{
    color: var(--oxford-blue);
    font-size: var(--fs-3);
}
h4{
    color: var(--royal-blue-dark);
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
}

.btn{
    font-size: var(--fs-6);
    text-transform: uppercase;
    font-weight: var(--fw-600);
    padding: 1rem 4rem;
    border: 0.1rem solid;
    border-radius: .6rem;
}

.btn-primary{
    background: var(--bittersweet);
    border-color: var(--bittersweet);
    color: var(--white);
}
.btn-primary:is(:hover, :focus){
    --bitterswweet: hsl(2, 90%, 65%);
}
.btn-secondary:is(:hover, :focus){
    background: hsla(0, 0%, 100%, 0.1);
}




/*Header*/
header{
    position: relative;
    padding: 3.5rem 0;
    z-index: 2;
}
header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu-btn{
    font-size: 3rem;
    padding: .5rem;
}
.navbar{
    position: absolute;
    top: calc(100% -1.5rem);
    left: 1.5rem;
    right: 1.5rem;
    background: var(--maximum-yellow-red);
    max-height: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition);
    transform-origin: top;
    overflow: hidden;
}
.navbar.active{
    margin-top: 2rem;
    max-height: 27.9rem;
    visibility: visible;
    pointer-events: all;
}
.navbar-list{
    padding: 1rem;   
}
.nav-item:not(:last-child){
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}
.nav-link{
    font-size: var(--fs-6);
    color: var(--royal-blue-dark);
    font-weight: var(--fw-600);
    padding: 1.5rem 1rem;
    opacity: 0;
    transition: var(--transition);
}
.nav-link:is(:hover, :focus){
    background: hsla(0, 0%, 100%, 0.2);
}
.navbar.active .nav-link{
    transition-delay: .1s;
    opacity: 1;
}
.navbar .btn-primary{
    display: none;
}


/*Hero*/
.hero{
    position: relative;
    padding: 13rem 0 14rem;
    z-index: 1;
}
.hero-content{
    text-align: center;
}
.hero-title,
.hero-text{
    margin-bottom: 4rem;
}
.hero-text{
    font-size: var(--fs-4);
    color: var(--oxford-blue);
}
.hero .btn-primary{
    margin-inline: auto;
}

.hero-banner{
    display: none;
}
.shape-content{
    position: absolute;
    width: 90rem;
    top: -23rem;
    right: -30rem;
    z-index: -1;
}

/*About*/

.about{
    position: relative;
    z-index: 1;
    background: url(../images/about-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 12rem 0;
    text-align: center;
}
.about-top{
    margin-bottom: 12rem;
}
.about h2{
    color: var(--white);
}
.about-top .section-title{
    margin-bottom: 2rem;
}
.about-top .section-text{
    color: var(--white);
    font-size: var(--fs-4);
    margin-bottom: 6rem;
}
.about-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}
.about-card{
    background: var(--white);
    padding: 4rem;
    border-radius: 1.2rem;
    box-shadow: 0 .2rem .4rem hsla(0, 0%, 0%, 0.1);
}
.card-icon{
    color: inherit;
    font-size: 4.5rem;
    width: max-content;
    margin-inline: auto;
    margin-bottom: 1.5rem;
}
.about-card .card-title{
 margin-bottom: 1.5rem;   
}
.about-card .card-text{
    color: var(--davys-gray);
}
.about-bottom-banner{
    margin-bottom: 12rem;
}
.about-bottom-banner img{
    height: 100%;
}
.about-bottom .section-title {
    margin-bottom: 2rem;
}
.about-bottom .section-text{
    color: var(--white);
    font-size: var(--fs-4);
    margin-bottom: 4rem;
}
.about-bottom .btn-secondary{
    margin-inline: auto;
    color: var(--white);
}


/* Features */
.features {
    padding: 12rem 0;
    text-align: center;
}

.features .section-title {
    color: var(--royal-blue-dark);
    margin-bottom: 2rem;
}

.features .section-text {
    color: var(--rythm);
    font-size: var(--fs-4);
    margin-bottom: 12rem;
}

.features-item:first-child {
    margin-bottom: 10rem;
}

.features-item-banner {
    max-width: 35rem;
    margin-left: auto; /* Cambiado a margin-left y margin-right para mayor compatibilidad */
    margin-right: auto;
    margin-bottom: 6rem; /* Añadido punto y coma */
}
.features-item-image {
    width: 100%;
    height: 100%;
}
.features-item .item-title {
    color: var(--royal-blue-dark);
    margin-bottom: 2rem;
}
.features-item .item-text {
    color: var(--rythm);
    font-size: var(--fs-4);
}

/* CTA */

.cta{
    padding: 12rem 0;
}
.cta-card{
    background: linear-gradient(to top, var(--bittersweet) 0, var(--french-rose));
    padding: 8rem 3.6rem;
    border-radius: 2rem;
    text-align: center;
}
.cta-title{
    color: var(--white);
    font-size: var(--fs-1);
    font-weight: var(--fw-600);
    line-height: 1.3;
    margin-bottom: 2rem;
}
.cta-text{
    color: var(--white);
    font-weight: var(--fs-6);
    margin-bottom: 5rem;
}
.cta input{
    color: var(--white);
    padding: 1rem 1.5rem;
    border-bottom: .1rem solid;
    margin-bottom: 3rem;
}
.cta input::placeholder{
    color: var(--white);
    text-align: center;
    
}
.cta .btn-secondary{
    color: var(--white);
    margin-inline: auto;
} 

/*Contact*/

.contact{
    margin-bottom: 12rem;
}
.contact-content{
    margin-bottom: 5rem;
}
.contact-title{
    color: var(--royal-blue-dark);
    margin-bottom: 6rem;
    text-align: center;
    font-weight: var(--fw-500) !important;
}
.contact-banner img{
    width: 100%;
}
.input-wrapper{
    margin-bottom: 3rem;
}
.input-label{
    color: var(--oxford-blue);
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    margin-bottom: 1rem;
}
.input-field{
    border-bottom: .1rem solid var(--platinum); /*Agrega linea */
    padding: .7rem 0;
    font-size: var(--fs-6);
}
.input-field::placeholder{
    color: var(--silver-chalice);
}
textarea{
    max-height: 30rem;
    min-height: 10rem;
    height: 10rem;
    resize: vertical;
}

/*Footer*/

footer{
background: var(--white-2);
}
.footer-top{
    padding: 8rem 0 5rem;
}
.footer-brand{
    margin-bottom: 2rem;
}
footer .logo{
    margin-bottom: 3rem;
}
.footer-text{
    color: var(--rythm);
    font-size: var(--fs-6);
    margin-bottom: 2rem;
}
.social-list{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}
.social-link{
    color: var(--rythm);
    font-size:var(--fs-4);
    margin-bottom: 1rem;
}
.social-link:is(:hover, :focus){
    color: var(--bittersweet);
}
.footer-link-list:not(:last-child){
    margin-bottom: 3rem;
}
.footer-link-list .link-title{
    margin-bottom: 1.5rem;
}
.footer-link{
    color: var(--cool-gray);
    font-size: var(--fs-6);
    margin-bottom: 1rem;
    max-width: 15rem;
}
.footer-link:is(:hover, :focus){
    color: var(--french-rose);
}
.footer-bottom{
   padding: 2rem 1.5rem;
   border-top: 0.1rem  solid hsla(0, 0%, 10%, 0.1);
}
.copyright{
    color: var(--cool-gray);
    text-align: center;
    font-size: var(--fs-6);
}
.copyright a{
    display: inline-block;
    color: var(--cool-gray);
}

/*Go to gop*/
.go-top{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 1;;
    width: 5rem;
    height: 5rem;
    background: linear-gradient(-45deg, var(--maximum-yellow-red), var(--french-rose));
    box-shadow: 0 .2rem .4rem hsla(0, 0%, 0%, 0.25);
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: var(--white);
    font-size: 2.2rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition);
}
.go-top.active{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

/*Media Queries*/

/*MQ-420px*/
@media (min-width: 420px){
     
    :root{
        --fs-1: 6rem;
    }

    /*Reutilizables*/
    .h1,
    .h2{
        font-weight: var(--fw-700);
    }
    .btnñ{
        padding-block: 1.5rem;
    }

    /*Header*/
    .navbar{
        left: auto;
        width: 30rem;
    }

    /*Hero*/
    .hero{
        padding: 14rem 0 16rem;
    }

    .shape-content{
        top: -7rem;
        right: -26rem;
    }

    /*About*/
    .about-card .card-title{
        padding-inline: 4rem;
    }
    .about-bottom-banner{
        max-width: 40rem;
        margin-inline: auto;
        margin-bottom: 4rem;
    }
    .about-bottom-content{
        padding-inline: 5rem;
    }

    /*Features*/
    .features .h2{
        --fs-2: 3.2rem;
    }

    /*CTA*/

    .cta-title{
        --fs-1: 4.2rem;
    }
    .cta-form{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 3rem;
    }
    .cta input{
        margin-bottom: 0;
    }
    .cta .btn-secondary{
        min-width: max-content;
    }

    /*Contact*/
    .contact-title{
        --fs-2: 3.2rem;
    }

    .contact-banner{
        max-width: 30rem;
        margin-inline: auto;
    }
}

/*MQ-560px*/
@media (min-width: 560px){
     
    /*Reutilizables*/
    .container{
        max-width: 50rem;
        margin-inline: auto;
    }

    /*Header*/
    .navbar-wrapper{
        position: relative;
    }
    .navbar{
        top: calc(100% + 1.5rem);
        right: 0;
    }

    /*Hero About*/
    .hero-content,
    .about-bottom-content{
        text-align: left;
    }

    .hero .btn-primary,
    .about-bottom .btn-secondary{
        margin-inline: 0;
    }
    .shape-content{
        top: -15.6rem;
        right: -15.2rem;
    }

    /*Footer*/

    .footer-brand{
        margin-bottom: 4rem;
    }

    .footer-link-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
    }
}

/*MQ-768px*/
@media (min-width: 760px){
     
    /*Custom property*/

     :root{
        
        /*Typography*/
        --fs-2-:3.5rem;
        --fs-4-:2rem;
     }

     /*Reutilizables*/
     .container{
        max-width: 74rem;
     }

     /*Aboout*/

     .about-list{
        grid-template-columns: repeat(2, 1fr);
     }

     .about-card{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
     }
     .about-banner img{
        width: 100%;
        height: 100%;
     }
     .about-card .card-title{
        padding-inline: 0;
     }

     /*Contact*/
     .contact.title{
        --fs-2-:4.2rem;
     }
}


/*MQ-1024px*/
@media (min-width: 1024px){

    /*Reutilizables*/
    .container{
       max-width: 95rem;
    }

    /*Header*/
    .navbar-menu-btn{
       display: none;
    }
    .navbar{
        max-height: unset;
        visibility: visible;
        position: static;
        width: auto;
        pointer-events: all;
        background: none;
        overflow: visible;
        display: flex;
    }

    .navbar-list{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: 2rem;
    }
    .nav-link{
        opacity: 1;
        padding: 0 1.5rem;
    }
    .navbar .btn-primary{
        display: block;
    }

    /*Hero*/

    .hero-content{
        max-width: 55rem;
    }

    .hero-banner{
        display:block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 50rem;
        padding-top: 50rem;
        background: url(../images/hero-banner.png) no-repeat;
        background-size: contain;
    }

    /*About*/

    .about-top .section-text{
        max-width: 65rem;
        margin-inline: auto;
    }

    .about-list{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .about-bottom-banner{
        margin-bottom: 0;
        height: 33rem;
    }
    .about-bottom-content{
        padding-inline: 0;
        width: 50%;
    }

    /*Features*/
    .features :is(.section-title, .section-text){
        max-width: 65rem;
        margin-inline: auto;
    }
    .features-item{
        display: flex;
        align-items: center;
        gap: 5rem;
    }
    .features-item-banner{
    margin-inline: 0; 
    margin-bottom: 0;   
    }
    .features-item-content{
        width: 50%;
        text-align: left;
    }
    .features-item:last-child{
        flex-direction: row-reverse; 
    }

    /*CTA*/
    .cta-card > *{
        max-width: 50rem;
        margin-inline: auto;
    }

    /*Contact*/
    .contact .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
    }
    .contact-content{
        max-width: 40rem;
    }
    .contact-title{
        text-align: left;
    }
    .contact-form{
        width: 50%;
    }

    /*Footer*/
    .footer-top .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
    }
    .footer-brand,
    .footer-link-list:not(:last-child){
        margin-bottom: 0;
    }
    .footer-link-box{
        grid-template-columns: repeat(4, 1fr);
        gap: 5rem;
    }

}

/*MQ-1024px*/
@media (min-width: 1200px){
       
    /*Custom property*/

       :root{
        
        /*Typography*/
        --fs-2-:4.2rem;
     }  

    /*Reutilizables*/
    .container{
        max-width: 115rem;
    }

    /*Hero*/

    .hero-banner{
        right: 10rem;
    }

    /*About*/
    .about-bottom-banner{
        height: 40rem;
    }

    /*Features*/
    .features .h2{
        --fs-2: 4.2rem;
    }
    .features :is(.section-text, .section-title){
        max-width: 85rem;
    }
}